.smart-exam-section{

    padding:90px 8%;

    background:#01295A;

}



.smart-exam-container{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:60px;

    align-items:center;

}




.smart-exam-content .section-tag{

    color:#FE7C02;

    font-weight:700;

}



.smart-exam-content h2{

    color:white;

    font-size:42px;

    line-height:1.2;

    margin:20px 0;

}



.smart-exam-content h2 span{

    color:#FE7C02;

}



.smart-exam-content p{

    color:#dbeafe;

    font-size:18px;

    line-height:1.7;

    margin-bottom:35px;

}




.smart-btn{

    background:#FE7C02;

    color:white;

    border:none;

    padding:15px 32px;

    border-radius:35px;

    font-size:16px;

    cursor:pointer;

    font-weight:600;

}



.smart-btn:hover{

    background:white;

    color:#01295A;

}





.smart-feature-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:25px;

}





.smart-feature-card{

    background:white;

    padding:30px;

    border-radius:20px;

    transition:.3s;

}



.smart-feature-card:hover{

    transform:translateY(-8px);

}




.feature-icon{

    font-size:40px;

    margin-bottom:20px;

}




.smart-feature-card h3{

    color:#01295A;

    font-size:22px;

    margin-bottom:10px;

}




.smart-feature-card p{

    color:#64748b;

    line-height:1.5;

}




@media(max-width:900px){

    .smart-exam-container{

        grid-template-columns:1fr;

    }


    .smart-feature-grid{

        grid-template-columns:1fr;

    }


    .smart-exam-content h2{

        font-size:32px;

    }

}