@import "tailwindcss";

html{
scroll-behavior:smooth;
}

body{
margin:0;
padding:0;
background:#ffffff;
font-family:Inter,sans-serif;
color:#1e293b;
}

.container{
max-width:1280px;
margin:auto;
padding-left:20px;
padding-right:20px;
}

.section{
padding:90px 0;
}

.title{
font-size:42px;
font-weight:800;
color:#0B1F51;
}

.subtitle{
font-size:18px;
color:#64748b;
line-height:1.8;
}