.vision-section{

    padding:90px 8%;

    background:white;

}




.vision-header{

    text-align:center;

    max-width:750px;

    margin:auto;

}



.section-tag{

    color:#FE7C02;

    font-weight:700;

    letter-spacing:1px;

}



.vision-header h2{

    color:#01295A;

    font-size:42px;

    margin:20px 0;

}



.vision-header h2 span{

    color:#FE7C02;

}



.vision-header p{

    color:#64748b;

    font-size:18px;

    line-height:1.6;

}




.vision-grid{

    margin-top:55px;

    display:grid;

    grid-template-columns:

    repeat(3,1fr);

    gap:30px;

}




.vision-card{

    padding:35px 30px;

    background:#f8fafc;

    border-radius:25px;

    text-align:center;

    transition:.3s;

}



.vision-card:hover{

    transform:translateY(-10px);

    box-shadow:

    0 15px 35px rgba(0,0,0,0.08);

}



.vision-icon{

    font-size:45px;

    margin-bottom:20px;

}



.vision-card h3{

    color:#01295A;

    font-size:24px;

    margin-bottom:15px;

}



.vision-card p{

    color:#64748b;

    line-height:1.7;

}





.vision-highlight{

    margin-top:60px;

    padding:40px;

    border-radius:25px;

    background:#01295A;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:30px;

}



.highlight-content h3{

    color:white;

    font-size:30px;

}



.highlight-content p{

    color:#dbeafe;

    margin-top:15px;

    font-size:17px;

}



.highlight-number{

    text-align:center;

    background:white;

    padding:25px 40px;

    border-radius:20px;

}



.highlight-number strong{

    display:block;

    color:#FE7C02;

    font-size:40px;

}



.highlight-number span{

    color:#01295A;

    font-weight:600;

}




@media(max-width:900px){


    .vision-grid{

        grid-template-columns:1fr;

    }


    .vision-highlight{

        flex-direction:column;

        text-align:center;

    }


    .vision-header h2{

        font-size:32px;

    }


}